* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.barra-top {
    background-color: #151515;
    color: white;
    padding: 5px 0; 
}

.header-derecha, .header-izquierda {
    display: flex;
    align-items: center;
}

.header-izquierda {
    background-color: #153652;
    padding: 15px 30px;
    justify-content: space-between;
}

.logo img { height: 100px; }

.header-derecha { gap: 20px; } 

.carrito-texto {
    color: white;
}

.buscador {
    background-color: #f3e8d5;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    width: 250px;
    outline: none;
}
.navegacion{
    background-color:#ee9b7d ;
    padding: 5px;
}
.opciones{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.opciones a {
    text-decoration: none;  /* quita subrayado */
    color: #153652;           /* color normal */
}

/*INICIO DE LA PARTE DE BLOG*/

body{
    background-color:#efe3cd; 
}

/*Contenedor de Articulo */
.contenedor {
    max-width: 860px;
    margin: 40px auto;
    padding: 40px 48px;
    background: #fffaf2;
    border: 1px solid #d4b483;
    border-radius: 8px;
} 

/* Titulo del articulo */
.articulo-titulo {
    color: #153652;
    margin-bottom: 20px;
}
/* Imagen del articulo */
.articulo-imagen {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 24px;
}

/*Texto del articulo */
.articulo-texto {
    color: #333;
    line-height: 1.8;
    text-align: justify;
}
    
/*Subtitulo del articulo */
.articulo-subtitulo {
    color: #153652;
    margin: 30px 0 16px;
    border-left: 4px solid #e8734a;
    padding-left: 12px;
}
    
/*Tabla comparativa*/
.tabla-comparativa {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
    
.tabla-comparativa th {
    background-color: #153652;
    color: white;
    padding: 12px 14px;
    text-align: left;

}

.tabla-comparativa td {
    padding: 12px 14px;
    border-bottom: 1px solid #dddddd;
    color: #444;
}
    
.fila-par td { 
    background-color: #fdf0d5; 
}

/* SEPARADOR ENTRE ARTÍCULOS */
.separador {
    color: #dddddd;
    margin: 50px 0;
}


/*PIE DE PAGINA*/
footer{
    padding: 50px;
    background-color: #153652;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-titles{
    color: #ece0cf;
    margin-bottom: 15px;
    
}
.footer-text{
    color: #ece0cf;
}