
/* Selector universal*/

* {
    margin: 0;
    font-family: Arial, sans-serif;
}

.barra-top {
    background-color: #151515;
    color: white;
    padding: 5px 0; 
}

/* BARRA SUPERIOR*/

.header-derecha, .header-izquierda {
    display: flex;
    align-items: center;
}

.header-izquierda {
    background-color: #153652;
    padding: 15px 30px;
    justify-content: space-between;
}

.logo img { 
    height: 100px; 
}

.header-derecha { 
    gap: 20px; 
} 

.carrito-texto {
    color: white;
}


/* Buscador*/
.buscador {
    background-color: #f3e8d5;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    width: 250px;
    outline: none;
}

/* MENÚ DE NAVEGACIÓN */

.navegacion{
    background-color:#ee9b7d ;
    padding: 5px;
}

.opciones{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.opciones a {
    text-decoration: none;  
    color: #153652;           
}



/* BANNER PRINCIPAL */
.banner{
    background-image: url(../images/Images_Head-Foot/BANNER.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 500px; /* Asegura una altura mínima */

}

body{
    background-color:#efe3cd; 
}

.product-top-text{
    padding: 20px;
    padding-left: 40px;
    color: #153652;
}



/*PRODUCTOS DESTACADOS*/

.section-productos {
    background-color: #fdf6e9; 
    padding: 40px;
    text-align: center;
}

/* Título de la sección */
.product-top-text {
    color: #003366; 
    margin-bottom: 30px;
}

/* Contenedor que pone los  productos en fila */
.product-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin: 0 auto;
}

/* Contenedor principal de la sección */
.producto-card {
    background: white;
    border: 1px solid #dddddd;
    width: 200px;
    position: relative;
    transition: box-shadow 0.2s;
}
    
.producto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body { 
    padding: 12px; 
}

.marca {
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.nombre {
    color: #003366;
    margin-bottom: 8px;
    text-align: justify;
}

.precio {
    color: #b93c3c;
    margin-bottom: 10px;
    text-align: right;
}

.btn-comprar {
    display: block;
    text-align: center;
    background-color: #e8734a;
    color: white;
    padding: 9px;
    border-radius: 20px;
}


/*FOOTER*/

footer{
    padding: 50px;
    background-color: #153652;
}

/*Divide los elementos del footer en columnas*/

.footer-items{
    display: flex;
    justify-content: space-between;
}

/*textos de cada columna en el footer*/

.footer-titles{
    color: #ece0cf;
    margin-bottom: 15px;
    
}

.footer-text{
    color: #ece0cf;

}